
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: beige;
  color: #2a2a2a;
}

section {
  padding: 80px 8%;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
}

.navbar {
  position: fixed;
  top: 0;
  width: 90%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,1);
}

.navbar img {
  height: 60px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 600;
  position: relative;
}

.intro {
  height: 600px;
  background-image: url("AndreDrinks.png");
  display: flex;
  padding-left: 100px;
  padding-top: 150px;
  color: white;
}

.title {
  padding-bottom: 30px;
}

.featured {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 18px;
  margin-bottom: 15px;
}