
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: beige;
  color: #2a2a2a;
}

section {
  padding: 80px 8% 20px 8%;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
}

.navbar {
  position: fixed;
  top: 0;
  width: 90%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,1);
}

.navbar img {
  height: 60px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 600;
  position: relative;
}

.location-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.location-card {
  width: 280px;
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.location-card h3 {
  margin-bottom: 6px;
  color: #2a2a2a;
}

.location-card p {
  margin: 4px 0;
  color: #555;
}

.location-card strong {
  color: #c5a572;
}

.StoreLocation{
  height: 500px;
}

.title {
  padding-top: 50px;
  padding-bottom: 30px;
}

footer {
  background: #7e5a3e;
  color: #fff;
  padding: 36px 6%;
  text-align: center;
  padding: 36px 6%;
  margin-top: 0;

}